<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Sample Page
	link(rel="stylesheet", href="css/main.css")
body
	.container
		h1 Hi, I'm a sample page
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		p Cumque, adipisci animi quia a, perspiciatis voluptates nesciunt.
		p Rem doloremque quidem aliquam dignissimos accusantium repellendus voluptate!
		p Optio accusamus nobis aut iusto soluta, unde rem!
		p Exercitationem doloribus magni sit harum amet beatae repudiandae!
	script(src="js/all.js")
	