mixin ie(condition)
	| <!--[!{condition}]>
	block
	| <![endif]-->

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Sample Page
		link(rel="stylesheet", href="css/main.css")
		//- Place favicon.ico and apple-touch-icon.png in the root directory
		//- build:css css/vendor.css
		//- bower:css
		link(rel='stylesheet', href='libs/bootstrap/dist/css/bootstrap.css')
		link(rel='stylesheet', href='libs/animate.css/animate.css')
		//- endbower
		//- endbuild
	body
		//- Here we go!
		+ie('if lte IE 9')
			script(src='libs/html5shiv/dist/html5shiv.js')
			script(src='libs/respond/dest/respond.src.js')
		//- bower:js
		script(src='libs/jquery/dist/jquery.js')
		script(src='libs/bootstrap/dist/js/bootstrap.js')
		script(src='libs/waypoints/lib/noframework.waypoints.min.js')
		//- endbower
		script(src="js/all.js")